.main-container {
  padding: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.main-container div {
  padding: 50px;
  text-align: center;
}

.main-container > div > * {
  display: inline-block;
}

button{
  outline: none;
}

div .div-1 {
  background-color: #63a4ff;
}

.button-1 {
  position: relative;
  background-image: radial-gradient(#1976d2, #004ba0);
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.40);
  border: none;
  height: 80px;
  width: 160px;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.button-1-text-1 {
  color: white;
  font-size: 24px;
  vertical-align: center;
}

.button-1-text-2 {
  color: white;
  font-size: 16px;
  display: none;
  vertical-align: center;
}

.button-1:focus {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.button-1:focus .button-1-text-1 {
  display: none;
  transition: all .3s ease-in-out;
}

.button-1:focus .button-1-text-2 {
  display: inline-block;
  transition: all .6s ease-out-in;
}

div .div-2 {
  background-color: #8eacbb;
}

.button-2 {
  background-color: transparent;
  border: none;
  color: #34515e;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  vertical-align: center;
}

.button-2:focus {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.button-2:focus::after {
  top: 20px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

div .div-3 {
  background-color: #c5cae9;
}

.button-3 {
  border: none;
  background-color: white;
  border-radius: 10px;
  color:#5c6bc0;
  box-shadow: 0 0 15px 0 rgba(25,118,210, 0.50);
  height: 60px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  vertical-align: center;
  font-family: Helvetica, sans-serif;
}

.button-3:focus {
  animation-name: button-3-animation;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

@keyframes button-3-animation {
  0% {
      transform: scale(1.0);
  }
  50% {
    transform: scale(0.80);
    box-shadow: 0 10px 50px 0 rgba(25,118,210, 0.20);
    translateY: translateY(5px);
  }
  100% {
      transform: scale(1.0);
  }
}

div .div-4 {
  background-color: #ff867c;
}

.button-4 {
  border: none;
  background-color: #b61827;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  vertical-align: center;
  font-family: 'Roboto Mono', monospace;
}

.button-4:focus {
  transition: all .3s ease-in-out;
  opacity: 0;
}

div .div-5 {
  background-color: #ffa726;
}

.button-5 {
  border: 2px solid #ff6f00;
  border-radius: 10px;
  color: #ff6f00;
  height: 60px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  vertical-align: center;
  font-family: 'Roboto Mono', monospace;
}

.button-5::after {
  content: "Submit";
}

.button-5:focus {
  color: #e65100;
  border: 2px solid #e65100;
  transition-timing-function: ease-out;

  transition: 1.5s;

  transform: translateX(130%);
  opacity: 0;
}

.button-5:focus::after {
  content: "Thankyou";
}

div .div-6 {
  background-color: #ab000d;
}

.button-6 {
  border: 2px solid red;
  border-radius: 0px;
  color: black;
  height: 60px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  vertical-align: center;
  font-family: 'Roboto Mono', monospace;
}

.button-6 > .button-6-smoking {
  display: none;
}

.button-6:focus {
  border: 2px solid green;
}

.button-6::after {
  content: "No Smoking";
}

.button-6:focus::after {
  content: "You Can Smoke";
}

.button-6:focus .button-6-smoking {
  display: inline-block;
}

.button-6:focus .button-6-smoking-ban {
  display: none;
}

div .div-7 {
  background-color: #f06292;
}

.button-7 {
  border: none;
  background-color: white;
  border-radius: 10px;
  color: #ff94c2;
  border: 3px solid #ba2d65;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

.button-7:focus .button-7-heart {
  animation-duration: 500ms;
  animation-name: button-7-animation;
}

@keyframes button-7-animation {
  0% {
      transform: scale(1.0);
  }
  50% {
    transform: scale(5.0);
  }
  100% {
      transform: scale(1.0);
  }
}

div .div-8 {
  background-color: #4ebaaa;
}

.button-8 {
  border: none;
  background-color: white;
  border-radius: 10px;
  color: #005b4f;
  box-shadow: 0 0 15px 0 rgba(25,118,210, 0.80);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  vertical-align: center;
  font-family: Helvetica, sans-serif;
}

.button-8-text {
  display: none;
  color: #4ebaaa;
}

.button-8:focus .button-8-text {
  display: inline-block;
  transition: 3s;
  animation-name: button-8-animation;
  animation-duration: 900ms;
}

@keyframes button-8-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

div .div-9 {
  background-color: lightblue;
}

.button-9 {
  background-size: 100%;
  background-image: linear-gradient(to right, #65499c, #ce93d8);
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.40);
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 18px;
  position: relative;
  z-index: 100;
  height: 50px;
  width: 200px;
  font-family: 'Roboto Mono', monospace;
}

.button-9::before {
  border-radius: inherit;
  background-image: linear-gradient(to right, #ce93d8, #65499c);
  content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 2s;
}

.button-9:focus::before {
  opacity: 1;
  content: "Added";
}

.button-9:focus .button-9-text {
  display: none;
}