@font-face {
  font-family: "Moderat Bold";
  src: url("fonts/Moderat-Bold.ttf");
}

@font-face {
  font-family: "Moderat Regular";
  src: url("fonts/Moderat-Regular.ttf");
}

body {
  margin: 0;
}

h1 {
  font-family: 'Moderat Regular';
  font-size: 30px;
}

h2 {
  font-family: 'Moderat Regular';
  font-size: 24px;
}

h3 {
  font-family: 'Moderat Regular';
  font-size: 16px;
  color: grey;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #979797;
}

ul li {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 64px;
}

@media screen and (max-width: 600px) {
  header {
    padding: 48px;
  }
}

header a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  background: #ff0;
  font-family: 'Moderat Bold';
}

#section-intro {
  padding: 64px;
}

#section-projects {
  padding: 64px;
}

@media screen and (max-width: 600px) {
  #section-projects {
    padding: 0px;
  }
}

#section-intro {
  max-width: 600px;
}

#section-projects {
  display: grid;
  grid-gap: 50px;
}

#section-projects div {
  position: relative;
  width: 100%;
}

#section-projects .project-two {
  width: 50%;
}

@media screen and (max-width: 600px) {
    #section-projects div {
      width: 100%;
    }

    #section-projects .project-two {
      width: 100%;
    }
}

div img {
  width: 100%;
}

#section-image img {
  width: 100%;
}

#section-centered {
  text-align: center;
}

#section-image-text .text-description {
  width: calc(50% - 64px - 64px);
  padding: 64px;
}

#section-image-text img {
  width: calc(50% - 64px - 64px);
  padding: 64px;
}

@media screen and (max-width: 600px) {
  #section-image-text img {
    width: 100%;
  }
  #section-image-text .text-description {
    width: 100%;
  }
}
